<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GST Tool</a>

        <div class="collapse navbar-collapse d-flex justify-content-between">
            <!-- Left side nav -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/main/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main/settings">Settings</a>
                </li>
            </ul>

            <!-- Right side nav -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>

                    <!-- <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth/signup']" routerLinkActive="active">Register</a>
                </li>
            </ul>

        </div>
    </div>
</nav>